html {
    
    font-family: 'Roboto', sans-serif;
    color: #ffff;
}


body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;

}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
    border: 1px solid #ffff;
    border-radius: 30px;
 

}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.icons-social a {
  text-decoration: none;
  color: rgb(217, 218, 217);
}

.icons-social a :hover {
    color:rgb(137, 228, 137);
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;

}

/**/

h1 span {
    animation: jump 3s alternate infinite;
  }
  
  h1 span {
    position: relative;
    display: inline-block;
  }
  
  h1 span:nth-child(1) {
    animation-delay: 0s;
  }
  
  h1 span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  h1 span:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  h1 span:nth-child(4) {
    color: #fff;
    animation: jump 3s alternate infinite;
  }
  
  h1 span:nth-child(5) {
    animation-delay: 0.1s;
  }
  
  h1 span:nth-child(6) {
    animation-delay: 0.5s;
  }
  
  h1 span:nth-child(7) {
    animation-delay: 0.3s;
  }
  
  
  
  @keyframes jump {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    
    40% {
      transform: translateY(0) rotate(0deg);
    }
    
    50% {
      transform: translateY(-100px) rotate(180deg);
    }
    
    60% {
      transform: translateY(0px) rotate(360deg);
    }
    
    100% {
      transform: translateY(0) rotate(360deg);
    }
  }